body{
    background-color: #eeeeee;
}
table{
    border: solid black;
}
.table-striped > tbody > tr:first-child > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #fcc314;    
}
.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #eeeeee;
}
a{
    color: #295ba7;
}
a:hover{
    color:#193764;
    text-decoration: none;  
}

h1{
    color: #7c9327;
}
header > h1{
    position: relative;
    background-color: #fcc314;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.7);
}
footer{
    position: fixed;
    bottom: 0;
    width:50%;
    margin-left: 14%;
    margin-right: 20%;
    background-color: #fcc314;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.7) inset;
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.7) inset;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.7) inset;
}
footer > section{
    text-align: center;
}
footer > section p:first-child{
    padding-top: 1%;
}
footer > section p:last-child{
    padding-bottom: 1%;
}
.header ul a:hover {
    background:rgba(0,0,0,0);
}