{% extends "musiques/base.html" %}
{% block contenu %}
<h2>Artiste : {{object.nom}}</h2>
<table class="table-striped">
    <tr class="row">
        <td class="col-md-6"><h3>Track list</h3></td>
        <td class="col-md-6"></td>
    </tr>
    {% for m in object.morceau_set.all %}
    <tr class="row">
        <td class="col-md-6"></td>
        <td class="col-md-6">{{m.titre}}</td>
    </tr>    
    {% endfor %}
</table>
<a href="{% url 'musiques:artiste-list'%}">
    <span class="glyphicon glyphicon-chevron-left">Retour</span>
</a>
{% endblock %}