{% extends "musiques/base.html" %}
{% block contenu %}
<h2>Delete Morceau</h2>
<form action="" method="post">{% csrf_token %}
    <p>Voulez-vous supprimer le morceau: "{{ artiste.nom }}"?</p>
    <input type="submit" value="Delete" />
</form>
<a href="{% url 'musiques:artiste-list'%}">
    <span class="glyphicon glyphicon-chevron-left">Retour</span>
</a>
{% endblock %}