{% extends "musiques/base.html" %}
{% block contenu %}
<h2>Artistes</h2>
<table class="table-striped">
    <tr class="row">
        <td class="col-md-3"><h3>ID</h3></td>
        <td class="col-md-3"><h3>Nom Artiste</h3></td>
        <td class="col-md-3"></td>
        <td class="col-md-3"></td>
    </tr>
{% for o in object_list %}
    <tr class="row">
        <td class="col-md-3">{{o.id}}</td>
        <td class="col-md-3"><a href="{% url 'musiques:artiste-detail' pk=o.id %}">{{o.nom}}</a></td>
        <td class="col-md-3">
            <a href="{% url 'musiques:artiste-del' pk=o.id %}">
                <span class="glyphicon glyphicon-remove"> Delete</span>
            </a>
        </td>
        <td class="col-md-3">
            <a href="{% url 'musiques:artiste-update' pk=o.id %}">
                <span class="glyphicon glyphicon-refresh"> Update</span>
            </a>
        </td>
    </tr>
{% empty %}
    <tr class="row">
        <td class="col-md-3"></td>
        <td class="col-md-3">Aucun artiste</td>
        <td class="col-md-3"></td>
        <td class="col-md-3"></td>
    </tr>
{% endfor %}
    <tr class="row">
        <td class="col-md-3"></td>
        <td class="col-md-3"></td>
        <td class="col-md-3"></td>
        <td class="col-md-3">
        <a href="{% url 'musiques:artiste-add' %}">
        <span class="glyphicon glyphicon-plus"> Add</span> 
        </a>
        </td>
    </tr>
</table>
{% endblock %}