{% extends "musiques/base.html" %}
{% block contenu %}
<h2>Add artiste</h2>
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form>
<a href="{% url 'musiques:artiste-list'%}">
    <span class="glyphicon glyphicon-chevron-left">Retour</span>
</a>
{% endblock %}