<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/main.css">    
    <title>Shazam !</title>
</head>
<body class="container">
    <header class="row">
        <h1>Mon site de gestion de musique</h1>
        <ul class="nav col-md-4">
            <li class="col-md-5">
                <a href="{% url 'musiques:home' %}">Home</a>
            </li>
            <li role="presentation" class="dropdown col-md-5">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Action 
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'musiques:artiste-list' %}">List Artiste</a></li>
                    <li><a href="{% url 'musiques:morceau-list' %}">List Morceau</a></li>
                </ul>
            </li>
        </ul>
    </header>
    
    <main>
            {% block contenu %}{% endblock %}
    </main>

    <footer>
        <section>
            <p>Page concu et réaliser par Thibault MATHYS et Lucas CHARPENTIER.</p>
            <p>Tout droit réservé Thibault MATHYS, Lucas CHARPENTIER.</p>
        </section>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>