{% extends "musiques/base.html" %}
{% block contenu %}
<div class="row">
    <section class="col-md-6">
        <h3>Présentation</h3>
        <p>Ce site présente un ensemble d'Artiste et de Morceau.
            La barre de navigation vous permettra de visionenr, ajouter, modifier et supprimer
            des artiste et des morceau selon les artiste.
            Le site est réalisé avec le framework Django et l'extension bootstrap.
    
        </p>
    </section>
</div>
{% endblock %}