{% extends "musiques/base.html" %}
{% block contenu %}
<h2>Delete Morceau</h2>
<form action="" method="post">{% csrf_token %}
    <p>Voulez-vous supprimer le morceau: "{{ morceau.titre }}"?</p>
    <input type="submit" value="Delete" />
</form>
<div class="row">
    <a class="col-md-3 "href="{% url 'musiques:morceau-list'%}">
        <span class="glyphicon glyphicon-chevron-left">Retour</span>
    </a>
</div>
{% endblock %}