{% extends "musiques/base.html" %}
{% block contenu %}
<h2>Morceaux</h2>
<table class="table-striped">
    <tr class="row">
        <td class="col-md-3"><h3>Artiste</h3></td>
        <td class="col-md-2"><h3>ID</h3></td>
        <td class="col-md-3"><h3>Titre</h3></td>
        <td class="col-md-2"></td>
        <td class="col-md-2"></td>
    </tr>
{% for morceau in object_list %}
    <tr class="row">
        <td class="col-md-3">{{ morceau.artiste }}</td>
        <td class="col-md-2">{{ morceau.id }}</td>
        <td class="col-md-3"><a href="{% url 'musiques:morceau-detail' pk=morceau.id %}">{{ morceau.titre }}</a></td>
        <td class="col-md-2">
            <a href="{% url 'musiques:morceau-del' pk=morceau.id %}">
                <span class="glyphicon glyphicon-remove"> Delete</span>
            </a>
        </td>
        <td class="col-md-2">
            <a href="{% url 'musiques:morceau-update' pk=morceau.id %}" >
                <span class="glyphicon glyphicon-refresh"> Update</span>
            </a>
        </td>
    </tr>
{% empty %}
    <tr class="row">
        <td class="col-md-3"></td>
        <td class="col-md-2">Pas de morceaux.</td>
        <td class="col-md-3"></td>
        <td class="col-md-2"></td>
        <td class="col-md-2"></td>
    </tr>
{% endfor %}
    <tr class="row">
        <td class="col-md-3"></td>
        <td class="col-md-2"></td>
        <td class="col-md-3"></td>
        <td class="col-md-2"></td>
        <td class="col-md-2">
        <a href="{% url 'musiques:morceau-add' %}">
            <span class="glyphicon glyphicon-plus"> Add</span>
        </a>
        </td>
    </tr>
</table>
{% endblock %}