{% extends "musiques/base.html" %}
{% block contenu %}
<section>
    <h2>Detail Morceau : {{ object.titre }}</h2>
    <p>Artiste : {{ object.artiste.nom }}</p>
</section>
<div class="row">
    <a class="col-md-3 "href="{% url 'musiques:morceau-list'%}">
        <span class="glyphicon glyphicon-chevron-left">Retour</span>
    </a>
</div>

{% endblock %}