{% extends "musiques/base.html" %}
{% block contenu %}
<h2>Add Morceau</h2>
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form>
<div class="row">
    <a class="col-md-3 "href="{% url 'musiques:morceau-list'%}">
        <span class="glyphicon glyphicon-chevron-left">Retour</span>
    </a>
</div>
{% endblock %}